main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 54px;
    padding: 24px;
    gap: 24px;
}

.calendar {
    border: 1px solid #00579b;
    border-radius: 12px;
}

.react-calendar__tile--now {
    background: none !important;
}

.appointment-date abbr {
    background-color: #03acf2 !important;
    color: white !important;
    padding: 6px;
    border-radius: 100px;
}

/* Lista de turnos */
.appointments-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    width: 100%;
    gap: 24px;
}

.appointments-list article {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border-radius: 12px;
}

.appointments-list div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.appointments-list time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    text-align: end;
}

.appointments-list p {
    font-size: 14px;
}

.appointments-list h2 {
    grid-column: 1 / -1;
    font-size: 16px;
    font-weight: bold;
}

.appointments-list h3 {
    font-size: 16px;
    font-weight: bold;
}
