.button-login {
    background-color: #00579b;
    color: white;
}

.button-register {
    background-color: #fafafa;
    color: #00579b;
    border: 1px solid #00579b;
}

/* Opciones de inicio de sesion */
.login-options {
    display: flex;
    padding-top: 16px;
    gap: 16px;
}

/* Formulario de registro */
.register-form {
    width: 90dvw;
    max-width: 350px;
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.register-form input {
    padding: 6px 6px;
    border-radius: 12px;
    border: 1px solid black;
    margin-bottom: 12px;
    background-color: white;
}

.register-form label {
    margin-bottom: 8px;
}

.register-form span {
    text-align: end;
}

.register-form button {
    background-color: #979797;
    color: white;
}
