.pedir-cita-page {
  padding: 1.5rem;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.calendar {
  width: 100% !important;
  border: 2px solid #03acf2;
  border-radius: 12px;
  padding: 16px;
}

.calendar .react-calendar__tile {
  padding: 10px;
  border-radius: 8px;
}

.calendar .available-date abbr {
  background-color: #03acf2;
  color: white;
  border-radius: 50%;
  padding: 8px;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 16px;
}

.calendar .selected-date {
  background-color: #00579b !important;
  color: white !important;
  border-radius: 8px;
}

.calendar .selected-date abbr {
  color: white !important;
}
